{% load static %}
<html>
    <head>
        <title>Car Rental</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    </head>
    <body>
    <div class="page-header">
        <h3><a href="{% url 'get_car_rental' %}">Register new car for rent</a></h3>
        <h3><a href="/cars">View cars</a></h3>
    </div>
    <div class="container">
        <div>
        {% block content %}
        {% endblock %}
        </div>
    </div>
</body>
</html>
