{% extends 'kenzie_app/base.html' %}

{% block content %}
    <h2>New car for rent</h2>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
{% endblock %}
