{% extends 'kenzie_app/base.html' %}

{% block content %}
<form method="POST" class="post-form">{% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="save btn btn-default">Find</button>
</form>
  <table class="table">
    <tr>
      <th>Maker</th>
      <th>Model</th>
      <th>Type</th>
      <th>Year</th>
      <th>City</th>
      <th>State</th>
      <th>Country</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Owner ID</th>
      <th>Daily Rate</th>
      <th>Fuel Type</th>
      <th>Rating</th>
      <th>Trips Taken</th>
      <th>#Reviews</th>
    </tr>
    {% for rent in rentals %}
      <tr>
        <td>{{ rent.vehicle.make }}</td>
        <td>{{ rent.vehicle.model }}</td>
        <td>{{ rent.vehicle.type }}</td>
        <td>{{ rent.vehicle.year }}</td>
        <td>{{ rent.location.city }}</td>
        <td>{{ rent.location.state }}</td>
        <td>{{ rent.location.country }}</td>
        <td>{{ rent.location.latitude }}</td>
        <td>{{ rent.location.longitude }}</td>
        <td>{{ rent.owner.id }}</td>
        <td>{{ rent.rate.daily }}</td>
        <td>{{ rent.fuelType }}</td>
        <td>{{ rent.rating }}</td>
        <td>{{ rent.renterTripsTaken }}</td>
        <td>{{ rent.reviewCount }}</td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
